################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Sources/MakeLWV/MakeLWV/obj/Debug
/.vs
/Sources/MakeLWV/.vs/MakeLWV/v16
